* {
    user-select: none;
}

table {
    position: relative;
    margin: auto;
}

td {
    width: 80px;
    height: 80px;
}

.dark {
    background-color: rgb(59, 59, 59);
    border: 2px solid black;
}

.white {
    border: 2px solid black;
    border: 2px solid black;
}

.clicked {
    background-color: rgba(180, 0, 0, 0.766);
}

.possibleMove {
    background-color: rgba(180, 0, 0, 0.457);
}

.title {
    text-align: center;
}

.winner-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.866);
    padding: 40px;
    border-radius: 10px;
    width: max-content;
    font-size: 24px;
    font-weight: bolder;
}
